/* Logo */
.logo {
	color: #fff;
	font-family: "Matura MT Script Capitals", cursive;
	font-size: 28px;
	line-height: 42px;
	text-align: center;
}

.pageTitle {
	color: #6c757d!important;
}

.form-group label{
	margin-left: .5rem!important;
}

a:hover{
	text-decoration: none;
}

.div-hide {
	display: none;
}

.kv-file-zoom {
	display: none;
}

div.kv-avatar div.file-input div.file-preview {
	width: 200px;
}

/*login form*/
.vertical {
	padding-top: 50px;
	padding-bottom: 150px;
}

/* Sidebar */

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}

/* Scroll-to-top */
.scroll-to-top {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
	width: 2.75rem;
	height: 2.75rem;
	text-align: center;
	color: #fff;
	background: rgba(90, 92, 105, 0.5);
	line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
	color: white;
}

.scroll-to-top:hover {
	background: #5a5c69;
}

.scroll-to-top i {
	font-weight: 800;
}

/* Make the image fully responsive */
.carousel-inner img {
	width: 100%;
	height: 100%;
}

/* Product Entry */
.product-entry {
	border: .1rem solid #f1f1f1 !important;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

.product-entry .cart .add-to-cart{
	text-align: center;
}

.product-entry .cart  a {
	display: block;
	color: #000;
	padding: .5em;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s; 
}

.product-entry:hover .cart {
	display: block;
	background-color: #dee2e6;
}

.product-entry .cart a:hover {
	display: block;
	background: #FFC300;
	margin: 0px;
}

.product-name p {
	text-align: center;
	font-size: 15px;
	/*font-family: "Roboto", Arial, sans-serif, bold;*/
	font-weight: 400;
	font-weight: bolder;
	margin: 0 0 20px 0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.product-name p a {
	color: #007185;
}

.product-img {
	margin: .5rem;
}

.product-brand {
	padding-left: .5rem;
	color: #6c757d;
}

.product-stars {
	color: gold;
}

.product-stars {
	border: black;
	text-align: center;
	padding-bottom: .5rem;
}

.product-price h5{
	text-align: center;
	color: red;
}


/* Product Entry Details */
.product-entry-details {
	border: .1rem solid #f1f1f1 !important;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

.product-entry-details .cart .add-to-cart{
	text-align: center;
}

.product-entry-details .cart  a {
	display: block;
	color: #000;
	padding: .5em;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s; 
}

.product-entry-details:hover .cart {
	display: block;
	background-color: #dee2e6;
}

.product-entry-details .cart a:hover {
	display: block;
	background: #FFC300;
	margin: 0px;
}

.product-name-details p {
	text-align: left;
	font-size: 15px;
	font-family: "Roboto", Arial, sans-serif, bold;
	font-weight: 400;
	font-weight: bolder;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.product-name-details p a {
	color: #007185;
}

.product-img-details {
	margin: .5rem;
}

.product-brand-details {
	/*padding-left: .5rem;*/
	color: #6c757d;
}

.product-stars-details {
	color: gold;
}

.product-stars-details {
	padding-top: .5rem;
}

.product-price-details h5{
	color: red;
}
/**/


.view-more {
	display: block;
	border-top: 1px solid #dee2e6 !important;
	background-color: white;
	text-align: center;
}

.view-more:hover {
	display: block;
	background-color: #dee2e6 !important;
}

.view-more:hover a{
	display: block;
	background-color: #dee2e6 !important;
}

.form-control {
	border-radius: 0;
}

/* Payment - Process */
.process-wrap {
	width: 100%;
	display: block;
	float: left; 
	margin-bottom: 1.5rem;
}

.process {
	position: relative;
	float: left;
	width: 33.333%;
	z-index: 0; 
}
.process:after {
	position: absolute;
	top: 33%;
	right: -50%;
	content: '';
	width: 100%;
	height: 1.5px;
	background: #f0f0f0;
	z-index: -1; 
}
.process:last-child:after {
	display: none; 
}
.process p {
	position: relative;
	width: 60px;
	height: 60px;
	display: table;
	border: 2px solid #fafafa;
	margin: 0 auto;
	margin-bottom: 20px;
	background: #fff;
	z-index: 1;
	font-weight: 400;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%; 
}
.process p span {
	display: table-cell;
	vertical-align: middle; 
}
.process h4 {
	margin-bottom: 0;
	font-size: 12px;
	/*text-transform: uppercase;*/
	letter-spacing: 1px; 
}
.process.active p {
	border: 2px solid #f0f0f0; 
}
.process.active p span {
	color: #FFC300; 
}
/**/
